.job {
  margin-top: 10rem;

  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, 10rem));
  grid-template-columns: repeat(auto-fit, minmax(min-content, 60rem));
  justify-content: center;

  grid-gap: 4rem;

  &__container {
    font-size: 1.6rem;
    position: relative;
    padding: 6rem 6rem 3rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    @media only screen and (max-width: 1000px) {
      padding-top: 10rem;
      padding-bottom: 2rem;
      margin: 0rem 2rem;
    }
  }

  &__logo {
    background-color: black;
    height: 12.8rem;
    width: 12.8rem;
    font-size: 7.5rem;
    text-align: center;
    border: #fff solid 5px;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    z-index: 10;

    @media only screen and (max-width: 1000px) {
      position: absolute;
      top: -25%;
      left: 50%;

      clip-path: unset;
      shape-outside: unset;
    }
  }
  &__img {
    width: 100%;
    transform: scale(1.4);
    &-1 {
      transform: scale(0.7);
    }
  }
  &__text {
    &-card {
      font-size: 1.4rem;
      padding: 2rem;
    }
  }

  &__logo--freelance {
    float: right;
    background-color: black;
    transform: translateX(3rem);
    @media only screen and (max-width: 1000px) {
      float: none;
      transform: translateX(-50%);
    }
  }
  &__logo--main {
    float: left;
    transform: translateX(-3rem);
    @media only screen and (max-width: 1000px) {
      float: none;
      transform: translateX(-50%);
    }
  }
  &__freelance {
    text-align: right;
    @media only screen and (max-width: 1000px) {
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  &__main {
    text-align: left;
    @media only screen and (max-width: 1000px) {
      text-align: center;
    }
    &-CTO {
      grid-column-end: 3;
      grid-column-start: 1;
      max-width: 600px;
      margin: 0 auto;
      img.job__img {
        border-radius: 50%;
        transform: scale(1);
      }
      @media only screen and (max-width: 1000px) {
        text-align: center;
        grid-column-end: unset;
        grid-column-start: unset;
        max-width: unset;
        margin: 0rem 2rem;
      }
    }
  }
  &__webs {
    margin-top: 5rem;
    margin-bottom: 5rem;

    grid-column: full-start / full-end;
    color: $black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    grid-template-rows: repeat(auto-fit, minmax(min-content, 45rem));

    grid-gap: 4rem;
    justify-content: center;
    @media only screen and (max-width: $bp-large) {
      grid-template-columns: repeat(auto-fit, minmax(min-content, 39.5rem));
    }
  }
  &__cards {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 45rem;
    @media only screen and (max-width: $bp-large) {
      height: auto;
    }

    &-side {
      height: 100%;
      width: 100%;
      transition: all 0.8s ease;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
      @media only screen and (max-width: $bp-large) {
        overflow: visible;
        position: relative;
        height: auto;
      }

      //&--a {
      //	background-color: rgba(0, 0, 0, 0.3);
      //}
      &--b {
        height: 100%;
        transform: rotateY(180deg);
        @media only screen and (max-width: $bp-large) {
          display: none;
          opacity: 0;
        }
        background-blend-mode: multiply;
        &-1 {
          background-image: linear-gradient(
            to right bottom,
            rgba(#202020, 1),
            rgba(#8bbac5, 1)
          );
        }
        &-2 {
          background-image: linear-gradient(
            to right bottom,
            rgba(#003edc, 1),
            rgba(#b1b3ff, 1)
          );
        }
        &-3 {
          background-image: linear-gradient(to right bottom, #8f4078, #d3b790);
        }
        &-4 {
          background-image: linear-gradient(to right bottom, #fff, #000);
        }
        &-5 {
          background-image: linear-gradient(to right bottom, red, #000);
        }
        &-tsdn {
          background-image: linear-gradient(to right bottom, #00aa4e, #0067c9);
        }
        &-kabu {
          background-image: linear-gradient(
            to right bottom,
            #fff,
            rgba(84, 208, 232, 0.7)
          );
        }
        &-8 {
          background-image: linear-gradient(to right bottom, #0c4d8c, #072543);
        }
        &-9 {
          background-image: linear-gradient(to right bottom, #fff, #000);
        }
        &-10 {
          background-image: linear-gradient(to right bottom, #1e1242, #ff5e3a);
        }
        &-11 {
          background-image: linear-gradient(to right bottom, #f9d9d3, #ffff);
        }
        &-12 {
          background-image: linear-gradient(to right bottom, #dcfbfe, #f47941);
        }
        &-miastral {
          background-image: linear-gradient(to right bottom, #ffd7d5, #ba797d);
        }
        &-higadosano {
          background-image: linear-gradient(to right bottom, #a74499, #662a7e);
        }
        &-moneywise {
          background-image: linear-gradient(to right bottom, #fff, #009688);
        }
        &-sebasmom {
          background-image: linear-gradient(to right bottom, #6fc4bf, #0d6d74);
        }
        &-bonnierzm {
          background-image: linear-gradient(to right bottom, #e9d8c0, #9a314d);
        }
        &-flores {
          background-image: linear-gradient(to right bottom, #81c1be, #182636);
        }
        &-ip21 {
          background-image: url(../img/bottom.png);
          background-color: #eaeaea;
          background-size: cover;
          background-position: bottom;
          background-repeat: no-repeat;
        }
        &-upm {
          background-image: linear-gradient(to right bottom, #d6e3f3, #b8abe1);
        }
        &-tgk {
          background-image: linear-gradient(to right bottom, #3f4e51, #000);
        }
        &-conboca {
          background-image: linear-gradient(to right bottom, #00644f, #002138);
        }
        &-easytechnology {
          // background-image: linear-gradient(to right bottom, #e1d7dd, #ef0f34);
          background-image: url(../img/FONDO-8-1.jpg);
          background-color: #eaeaea;
          background-size: cover;
          background-position: top left;
        }
        &-pwg {
          background-image: linear-gradient(to right bottom, #f0f0f0, #f7887d);
        }
        &-cykadas {
          background-image: linear-gradient(to right bottom, #2dc100, #fff);
        }
        &-foodit {
          background-image: linear-gradient(to right bottom, #43d6f1, #7c7eff);
        }

        &-xcape {
          background-color: #ff4400;
        }
        &-boitas {
          background-image: linear-gradient(to right bottom, #fff, #ff7b29);
        }
        &-mile {
          background-color: #3e3bab;
        }
        &-clic {
          background-color: #ffff39;
        }
        &-ysmm {
          background-image: linear-gradient(
            to right bottom,
            #fff 0%,
            #a5c7d2 100%
          ) !important;
        }
        &-sindy {
          background-image: linear-gradient(
            to right bottom,
            #fff 0%,
            #e8dbdc 100%
          ) !important;
        }
      }
    }

    &:hover &-side--a {
      transform: rotateY(-180deg);
      @media only screen and (max-width: $bp-large) {
        transform: rotateY(0);
      }
      &.no-hover {
        transform: rotateY(0);
      }
    }
    &:hover &-side--b {
      transform: rotateY(0deg);
      &.no-hover {
        display: none !important;
      }
    }

    &-logo {
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 23rem;
      background-blend-mode: screen;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 200px;
      }
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#e8e8e8, 1),
          rgba(#8bbac5, 1)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(#003edc, 1),
          rgba(#fff, 1)
        );
      }
      &--3 {
        background-image: linear-gradient(to right bottom, #8f4078, #d3b790);
      }
      &--4 {
        //background-image: linear-gradient(to right bottom, #fff, #000);
        img {
          width: 65%;
        }
      }

      &--5 {
        background-image: linear-gradient(to right bottom, #f62318, #000);
      }

      &--tsdn {
        background-image: linear-gradient(to right bottom, #00aa4e, #0067c9);
      }
      &--kabu {
        background-image: linear-gradient(
          to right bottom,
          #fff,
          rgba(84, 208, 232, 0.7)
        );
      }
      &--8 {
        background-image: linear-gradient(to right bottom, #0c4d8c, #072543);
        img {
          width: 80%;
        }
      }
      &--9 {
        background-color: #e8e8e8;
        img {
          width: 80%;
        }
      }
      &--10 {
        background-image: linear-gradient(to right bottom, #1e1242, #ff5e3a);
        img {
          width: 50%;
        }
      }
      &--11 {
        background-color: #f9d9d3;
      }
      &--12 {
        background-color: #dcfbfe;
      }
      &--miastral {
        background-image: linear-gradient(to right bottom, #ffd7d5, #ba797d);
      }
      &--higadosano {
        background-image: linear-gradient(to right bottom, #662a7e, #a74499);
      }
      &--moneywise {
        background-image: linear-gradient(to right bottom, #fff, #009688);
      }
      &--sebasmom {
        background-image: linear-gradient(to right bottom, #6fc4bf, #0d6d74);
      }
      &--bonnierzm {
        background-image: linear-gradient(to right bottom, #e9d8c0, #9a314d);
      }
      &--flores {
        background-image: linear-gradient(to right bottom, #81c1be, #182636);
      }
      &--ip21 {
        background-image: url(../img/top.png);
        background-color: #eaeaea;
        background-size: cover;
        background-position: top left;
      }
      &--upm {
        background-image: linear-gradient(to right bottom, #d6e3f3, #b8abe1);
      }
      &--tgk {
        background-image: linear-gradient(to right bottom, #3f4e51, #000);
      }
      &--conboca {
        background-image: linear-gradient(to right bottom, #00644f, #002138);
      }
      &--easytechnology {
        background-image: url(../img/FONDO-8-1.jpg);
        background-color: #eaeaea;
        background-size: cover;
        background-position: top left;
      }
      &--pwg {
        background-color: #f0f0f0;
      }
      &--cykadas {
        background-color: #f0f0f0;
      }
      &--foodit {
        background-image: linear-gradient(to right bottom, #43d6f1, #7c7eff);
      }
      &--xcape {
        background-color: #ff4400;
      }
      &--boitas {
        //background-image: linear-gradient(to right bottom, #ff7b29 , #fff);
      }
      &--mile {
        background-color: #3e3bab;
      }
      &--clic {
        background-color: #ffff39;
      }
      &--ysmm {
        background-image: linear-gradient(
          to right bottom,
          #fff 0%,
          #a5c7d2 100%
        ) !important;
      }
      &--sindy {
        background-image: linear-gradient(
          to right bottom,
          #fff 0%,
          #e8dbdc 100%
        ) !important;
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  &__text-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
    ul {
      list-style: none;
      text-align: center;
      font-size: 1.6rem;
      color: #202020;
    }
    li {
      padding: 1rem;
    }
    li:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
}
.mobile-side {
  display: none;
  @media only screen and (max-width: $bp-large) {
    display: block;
    position: relative;
    height: 150px;
    width: 100%;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 0 5px 5px;
  }
}
