@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:link,
*:visited {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #aaaaaa;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 78.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Martel Sans", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #eeeeee;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  justify-content: center;
}

.mobile-side .agency-logo.mood, .mobile-side .agency-logo.roadtrip {
  bottom: 3px;
  right: 3px;
  height: 54px;
  width: 54px;
}

.agency-logo {
  height: 96px;
  width: 96px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-position: center;
  background-size: cover;
  background-color: black;
  border-radius: 50%;
}

.mood {
  background-image: url(../img/mood-oscuro.png);
  border: 3px white solid;
}

.roadtrip {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/tgk.jpg);
  border: 3px #e0d8cb solid;
}

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem, rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #ffffff;
  color: #777;
}
.btn--white::after {
  background-color: #ffffff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn--black {
  background-image: linear-gradient(to top right, #000000, #434343);
  color: #ffffff;
  font-size: 2rem;
}
.btn--black::after {
  background-color: #000;
}
.btn--fixed {
  position: fixed;
  bottom: 1%;
  right: 0.5rem;
}

/* Fuentes Locales */
@font-face {
  font-family: "Proza Libre";
  src: url(../webfonts/ProzaLibre-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proza Libre";
  src: url(../webfonts/ProzaLibre-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proza Libre";
  src: url(../webfonts/ProzaLibre-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../webfonts/OpenSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Fuentes Locales */
.heading-1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  color: transparent;
}

.heading-1 {
  font-size: 10rem;
  letter-spacing: 5px;
  margin-top: -2rem;
  color: #fff;
}
.heading-1 span {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-text-stroke: 0px;
}

.heading-2 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 4px;
  margin-top: -2rem;
  color: #fff;
}
.heading-2:hover {
  text-decoration: none;
}
.heading-2 a:hover {
  color: #000;
  text-shadow: #fff 2px 2px 5px;
}
.heading-2 span {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-stroke: 0px;
}

.heading-3 {
  font-family: "Exo", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin-top: -2rem;
  color: #fff;
}
.heading-3 span {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-stroke: 0px;
}

.heading-card {
  font-family: "Exo", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 15rem;
  right: 2rem;
  width: 75%;
}

.heading-card-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.heading-card-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.85), rgba(0, 0, 255, 0.85));
}

.tooltip {
  left: 0px !important;
  font-size: 1.5rem;
}

.header-container {
  display: grid;
  grid-column: full-start/full-end;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-image: linear-gradient(to top right, #000000, #434343);
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 50% 90%, 0px 95%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 95%, 50% 90%, 0px 95%);
  height: 110%;
}

.header {
  height: 90%;
  display: grid;
  grid-column: center-start/center-end;
  grid-template-rows: repeat(auto-fit, minmax(-webkit-min-content, 20rem));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 20rem));
  justify-items: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .header {
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
  }
}
.header__about-me {
  grid-column: 1/2 end;
  grid-row: 1/1;
}
@media only screen and (max-width: 62.5em) {
  .header__about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.header__shape {
  width: 35rem;
  height: 35rem;
  position: relative;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  border: #fff solid 10px;
  transform: translateX(-5rem);
}
@media only screen and (max-width: 62.5em) {
  .header__shape {
    float: unset;
    align-self: center;
    transform: translateX(0);
  }
}
.header__foto {
  width: 100%;
}
.header__text {
  margin-top: 4rem;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.header__icos {
  list-style: none;
  font-size: 3.5rem;
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-column-gap: 1rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 36.25em) {
  .header__icos {
    display: none;
  }
}
.header__ico {
  transition: all 0.5s;
}
.header__ico:hover, .header__ico:active {
  transform: translateY(-5px) scale(1.3);
}
.header__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: start;
  list-style: none;
  color: #fff;
  grid-column: 1/2 end;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 62.5em) {
  .header__info {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
    justify-items: start;
    grid-column: unset;
    grid-row: unset;
  }
}
@media only screen and (max-width: 40.625em) {
  .header__info {
    grid-column: 1/2 end;
    justify-items: center;
  }
}
@media only screen and (max-width: 36.25em) {
  .header__info a {
    font-size: 2rem !important;
  }
}
.header__rrss {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  list-style: none;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-column: 1/2 end;
  grid-row: 2/2;
}
@media only screen and (max-width: 62.5em) {
  .header__rrss {
    grid-column: unset;
    grid-row: unset;
  }
}
@media only screen and (max-width: 40.625em) {
  .header__rrss {
    grid-column: 1/2 end;
    justify-items: center;
    margin-bottom: 4rem;
  }
}
.header__link:link, .header__link:visited {
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
@media only screen and (max-width: 62.5em) {
  .header__link:link, .header__link:visited {
    padding: 0;
  }
}
.header__link:hover, .header__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}
.header__link-rrss:link, .header__link-rrss:visited {
  padding: 0;
  padding-top: 0.7rem;
  height: 5rem;
  width: 5rem;
  color: #000;
  border-radius: 50%;
  background-color: #fff;
}

.job {
  margin-top: 10rem;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(-webkit-min-content, 10rem));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 10rem));
  grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 60rem));
  grid-template-columns: repeat(auto-fit, minmax(min-content, 60rem));
  justify-content: center;
  grid-gap: 4rem;
}
.job__container {
  font-size: 1.6rem;
  position: relative;
  padding: 6rem 6rem 3rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
  .job__container {
    padding-top: 10rem;
    padding-bottom: 2rem;
    margin: 0rem 2rem;
  }
}
.job__logo {
  background-color: black;
  height: 12.8rem;
  width: 12.8rem;
  font-size: 7.5rem;
  text-align: center;
  border: #fff solid 5px;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  z-index: 10;
}
@media only screen and (max-width: 1000px) {
  .job__logo {
    position: absolute;
    top: -25%;
    left: 50%;
    -webkit-clip-path: unset;
            clip-path: unset;
    shape-outside: unset;
  }
}
.job__img {
  width: 100%;
  transform: scale(1.4);
}
.job__img-1 {
  transform: scale(0.7);
}
.job__text-card {
  font-size: 1.4rem;
  padding: 2rem;
}
.job__logo--freelance {
  float: right;
  background-color: black;
  transform: translateX(3rem);
}
@media only screen and (max-width: 1000px) {
  .job__logo--freelance {
    float: none;
    transform: translateX(-50%);
  }
}
.job__logo--main {
  float: left;
  transform: translateX(-3rem);
}
@media only screen and (max-width: 1000px) {
  .job__logo--main {
    float: none;
    transform: translateX(-50%);
  }
}
.job__freelance {
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  .job__freelance {
    text-align: center;
    margin-bottom: 5rem;
  }
}
.job__main {
  text-align: left;
}
@media only screen and (max-width: 1000px) {
  .job__main {
    text-align: center;
  }
}
.job__main-CTO {
  grid-column-end: 3;
  grid-column-start: 1;
  max-width: 600px;
  margin: 0 auto;
}
.job__main-CTO img.job__img {
  border-radius: 50%;
  transform: scale(1);
}
@media only screen and (max-width: 1000px) {
  .job__main-CTO {
    text-align: center;
    grid-column-end: unset;
    grid-column-start: unset;
    max-width: unset;
    margin: 0rem 2rem;
  }
}
.job__webs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  grid-column: full-start/full-end;
  color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 30rem));
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  grid-template-rows: repeat(auto-fit, minmax(-webkit-min-content, 45rem));
  grid-template-rows: repeat(auto-fit, minmax(min-content, 45rem));
  grid-gap: 4rem;
  justify-content: center;
}
@media only screen and (max-width: 62.5em) {
  .job__webs {
    grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 39.5rem));
    grid-template-columns: repeat(auto-fit, minmax(min-content, 39.5rem));
  }
}
.job__cards {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
}
@media only screen and (max-width: 62.5em) {
  .job__cards {
    height: auto;
  }
}
.job__cards-side {
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 62.5em) {
  .job__cards-side {
    overflow: visible;
    position: relative;
    height: auto;
  }
}
.job__cards-side--b {
  height: 100%;
  transform: rotateY(180deg);
  background-blend-mode: multiply;
}
@media only screen and (max-width: 62.5em) {
  .job__cards-side--b {
    display: none;
    opacity: 0;
  }
}
.job__cards-side--b-1 {
  background-image: linear-gradient(to right bottom, #202020, #8bbac5);
}
.job__cards-side--b-2 {
  background-image: linear-gradient(to right bottom, #003edc, #b1b3ff);
}
.job__cards-side--b-3 {
  background-image: linear-gradient(to right bottom, #8f4078, #d3b790);
}
.job__cards-side--b-4 {
  background-image: linear-gradient(to right bottom, #fff, #000);
}
.job__cards-side--b-5 {
  background-image: linear-gradient(to right bottom, red, #000);
}
.job__cards-side--b-tsdn {
  background-image: linear-gradient(to right bottom, #00aa4e, #0067c9);
}
.job__cards-side--b-kabu {
  background-image: linear-gradient(to right bottom, #fff, rgba(84, 208, 232, 0.7));
}
.job__cards-side--b-8 {
  background-image: linear-gradient(to right bottom, #0c4d8c, #072543);
}
.job__cards-side--b-9 {
  background-image: linear-gradient(to right bottom, #fff, #000);
}
.job__cards-side--b-10 {
  background-image: linear-gradient(to right bottom, #1e1242, #ff5e3a);
}
.job__cards-side--b-11 {
  background-image: linear-gradient(to right bottom, #f9d9d3, white);
}
.job__cards-side--b-12 {
  background-image: linear-gradient(to right bottom, #dcfbfe, #f47941);
}
.job__cards-side--b-miastral {
  background-image: linear-gradient(to right bottom, #ffd7d5, #ba797d);
}
.job__cards-side--b-higadosano {
  background-image: linear-gradient(to right bottom, #a74499, #662a7e);
}
.job__cards-side--b-moneywise {
  background-image: linear-gradient(to right bottom, #fff, #009688);
}
.job__cards-side--b-sebasmom {
  background-image: linear-gradient(to right bottom, #6fc4bf, #0d6d74);
}
.job__cards-side--b-bonnierzm {
  background-image: linear-gradient(to right bottom, #e9d8c0, #9a314d);
}
.job__cards-side--b-flores {
  background-image: linear-gradient(to right bottom, #81c1be, #182636);
}
.job__cards-side--b-ip21 {
  background-image: url(../img/bottom.png);
  background-color: #eaeaea;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.job__cards-side--b-upm {
  background-image: linear-gradient(to right bottom, #d6e3f3, #b8abe1);
}
.job__cards-side--b-tgk {
  background-image: linear-gradient(to right bottom, #3f4e51, #000);
}
.job__cards-side--b-conboca {
  background-image: linear-gradient(to right bottom, #00644f, #002138);
}
.job__cards-side--b-easytechnology {
  background-image: url(../img/FONDO-8-1.jpg);
  background-color: #eaeaea;
  background-size: cover;
  background-position: top left;
}
.job__cards-side--b-pwg {
  background-image: linear-gradient(to right bottom, #f0f0f0, #f7887d);
}
.job__cards-side--b-cykadas {
  background-image: linear-gradient(to right bottom, #2dc100, #fff);
}
.job__cards-side--b-foodit {
  background-image: linear-gradient(to right bottom, #43d6f1, #7c7eff);
}
.job__cards-side--b-xcape {
  background-color: #ff4400;
}
.job__cards-side--b-boitas {
  background-image: linear-gradient(to right bottom, #fff, #ff7b29);
}
.job__cards-side--b-mile {
  background-color: #3e3bab;
}
.job__cards-side--b-clic {
  background-color: #ffff39;
}
.job__cards-side--b-ysmm {
  background-image: linear-gradient(to right bottom, #fff 0%, #a5c7d2 100%) !important;
}
.job__cards-side--b-sindy {
  background-image: linear-gradient(to right bottom, #fff 0%, #e8dbdc 100%) !important;
}
.job__cards:hover .job__cards-side--a {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 62.5em) {
  .job__cards:hover .job__cards-side--a {
    transform: rotateY(0);
  }
}
.job__cards:hover .job__cards-side--a.no-hover {
  transform: rotateY(0);
}
.job__cards:hover .job__cards-side--b {
  transform: rotateY(0deg);
}
.job__cards:hover .job__cards-side--b.no-hover {
  display: none !important;
}
.job__cards-logo {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 23rem;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.job__cards-logo img {
  max-width: 200px;
}
.job__cards-logo--1 {
  background-image: linear-gradient(to right bottom, #e8e8e8, #8bbac5);
}
.job__cards-logo--2 {
  background-image: linear-gradient(to right bottom, #003edc, white);
}
.job__cards-logo--3 {
  background-image: linear-gradient(to right bottom, #8f4078, #d3b790);
}
.job__cards-logo--4 img {
  width: 65%;
}
.job__cards-logo--5 {
  background-image: linear-gradient(to right bottom, #f62318, #000);
}
.job__cards-logo--tsdn {
  background-image: linear-gradient(to right bottom, #00aa4e, #0067c9);
}
.job__cards-logo--kabu {
  background-image: linear-gradient(to right bottom, #fff, rgba(84, 208, 232, 0.7));
}
.job__cards-logo--8 {
  background-image: linear-gradient(to right bottom, #0c4d8c, #072543);
}
.job__cards-logo--8 img {
  width: 80%;
}
.job__cards-logo--9 {
  background-color: #e8e8e8;
}
.job__cards-logo--9 img {
  width: 80%;
}
.job__cards-logo--10 {
  background-image: linear-gradient(to right bottom, #1e1242, #ff5e3a);
}
.job__cards-logo--10 img {
  width: 50%;
}
.job__cards-logo--11 {
  background-color: #f9d9d3;
}
.job__cards-logo--12 {
  background-color: #dcfbfe;
}
.job__cards-logo--miastral {
  background-image: linear-gradient(to right bottom, #ffd7d5, #ba797d);
}
.job__cards-logo--higadosano {
  background-image: linear-gradient(to right bottom, #662a7e, #a74499);
}
.job__cards-logo--moneywise {
  background-image: linear-gradient(to right bottom, #fff, #009688);
}
.job__cards-logo--sebasmom {
  background-image: linear-gradient(to right bottom, #6fc4bf, #0d6d74);
}
.job__cards-logo--bonnierzm {
  background-image: linear-gradient(to right bottom, #e9d8c0, #9a314d);
}
.job__cards-logo--flores {
  background-image: linear-gradient(to right bottom, #81c1be, #182636);
}
.job__cards-logo--ip21 {
  background-image: url(../img/top.png);
  background-color: #eaeaea;
  background-size: cover;
  background-position: top left;
}
.job__cards-logo--upm {
  background-image: linear-gradient(to right bottom, #d6e3f3, #b8abe1);
}
.job__cards-logo--tgk {
  background-image: linear-gradient(to right bottom, #3f4e51, #000);
}
.job__cards-logo--conboca {
  background-image: linear-gradient(to right bottom, #00644f, #002138);
}
.job__cards-logo--easytechnology {
  background-image: url(../img/FONDO-8-1.jpg);
  background-color: #eaeaea;
  background-size: cover;
  background-position: top left;
}
.job__cards-logo--pwg {
  background-color: #f0f0f0;
}
.job__cards-logo--cykadas {
  background-color: #f0f0f0;
}
.job__cards-logo--foodit {
  background-image: linear-gradient(to right bottom, #43d6f1, #7c7eff);
}
.job__cards-logo--xcape {
  background-color: #ff4400;
}
.job__cards-logo--mile {
  background-color: #3e3bab;
}
.job__cards-logo--clic {
  background-color: #ffff39;
}
.job__cards-logo--ysmm {
  background-image: linear-gradient(to right bottom, #fff 0%, #a5c7d2 100%) !important;
}
.job__cards-logo--sindy {
  background-image: linear-gradient(to right bottom, #fff 0%, #e8dbdc 100%) !important;
}
.job__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.job__text-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.job__text-card ul {
  list-style: none;
  text-align: center;
  font-size: 1.6rem;
  color: #202020;
}
.job__text-card li {
  padding: 1rem;
}
.job__text-card li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.mobile-side {
  display: none;
}
@media only screen and (max-width: 62.5em) {
  .mobile-side {
    display: block;
    position: relative;
    height: 150px;
    width: 100%;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 0 5px 5px;
  }
}/*# sourceMappingURL=main.css.map */